<%= form_for(@atributo) do |f| %>
  <% if @atributo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atributo.errors.count, "error") %> prohibited this atributo from being saved:</h2>

      <ul>
      <% @atributo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="col-md-6 column">
    <form role="form">
      <div class="form-group">
         <%= f.label "Nombre" %> <%= f.text_field :nombre_at, :class => "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :valor %><%= f.text_field :valor, :class => "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :tipo_variable %> <%= f.text_field :tipo_variable, :class => "form-control" %>
      </div>
      <%= f.submit @label, :class => "btn btn-default" %>
  </div>
</div>

<% end %>
