<h1>Horarios de alarmas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Hora de Inicio</th>
      <th>Hora de Fin</th>
      <th>Motivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horario_alarmas.each do |horario_alarma| %>
      <tr>
        <td><%= horario_alarma.hora_inicio.to_s + ':' + horario_alarma.fraccion_inicio.to_s %></td>
        <td><%= horario_alarma.hora_fin.to_s + ':' + horario_alarma.fraccion_fin.to_s %></td>
        <td><%= horario_alarma.motivo %></td>
        <td><%= link_to 'Ver', horario_alarma, :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Editar', edit_horario_alarma_path(horario_alarma), :class => "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Eliminar', horario_alarma, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Nuevo Horario para Alarma', new_horario_alarma_path, :class => "btn btn-primary" %>
