<%= form_for(@permiso) do |f| %>
  <% if @permiso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permiso.errors.count, "error") %> prohibited this permiso from being saved:</h2>

      <ul>
      <% @permiso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="col-md-6 column">
    <form role="form">
      <div class="form-group">
         <%= f.label :titulo %> <%= f.text_field :titulo, :class => "form-control" %>
      </div>
        <div id = "checkbox_1">
      <label class="checkbox-inline">
        <%= f.check_box :acceso_alerta %> Alerta
      </label>
      <label class="checkbox-inline">
        <%= f.check_box :acceso_articulo %> Articulo
      </label>
      <label class="checkbox-inline">
        <%= f.check_box :acceso_atributo %> Atributo
      </label>
      <label class="checkbox-inline">
        <%= f.check_box :acceso_lector %> Lector
      </label>
    </div>
    <div id="checkbox-2">
      <label class="checkbox-inline">
        <%= f.check_box :acceso_lectura %> Lectura
      </label>
      <label class="checkbox-inline">
        <%= f.check_box :acceso_paquete %> Paquete
      </label>
      <label class="checkbox-inline">
        <%= f.check_box :acceso_permiso %> Permiso
      </label>
      <label class="checkbox-inline">
        <%= f.check_box :acceso_persona %> Persona
      </label>
    </div>
    <div id="checkbox-3">
      <label class="checkbox-inline">
        <%= f.check_box :acceso_usuario %> Usuario
      </label>
      <label class="checkbox-inline">
        <%= f.check_box :acceso_vehiculo %> Vehiculo
      </label>
    </div>
      <%= f.submit @label, :class => "btn btn-default" %>
  </div>
</div>
<% end %>
