<%= form_for(@permiso) do |f| %>
  <% if @permiso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permiso.errors.count, "error") %> prohibited this permiso from being saved:</h2>

      <ul>
      <% @permiso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="col-md-6 column">
    <form role="form">
      <div class="form-group">
        <%= f.label "Título" %>
        <%= f.text_field :titulo, :class => "form-control" %>
      </div>

      </br>

      <div class="form-group">
        <%= f.label :accesos %>

        </br>
        <%= f.check_box :acceso_alerta %> Sección Alertas

        </br>
        <%= f.check_box :acceso_articulo %> Sección Artículos
        
        </br>
        <%= f.check_box :acceso_lector %> Sección Lectores
        
        </br>
        <%= f.check_box :acceso_lectura %> Sección Lecturas
      
        </br>
        <%= f.check_box :acceso_permiso %> Sección Permisos
      
        </br>
        <%= f.check_box :acceso_persona %> Sección Personas
        
        </br>
        <%= f.check_box :acceso_usuario %> Sección Usuarios
        
        </br>
        <%= f.check_box :acceso_vehiculo %> Sección Vehículos
    </div>
    
    <%= f.submit @label, :class => "btn btn-success" %>

    <%= link_to 'Volver', permisos_path, :class => "btn btn-default" %>
  </div>
</div>
<% end %>
