<%= form_for(@articulo) do |f| %>
  <% if @articulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>

      <ul>
      <% @articulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="col-md-6 column">
    <form role="form">
      <div class="form-group">
         <%= f.label :rfid %> <%= f.number_field :rfid, :class => "form-control" %>
      </div>
      <div class="form-select">
        <div class="form-group">
          <%= f.label :cargo %><%= collection_select(:articulo, :persona_id, Persona.all, :id, :rut, :prompt => 'Seleccione por rut', :selected => @persona_selected,:class => "form-control") %>
        </div>
        <div class="form-group">
          <%= f.label :cargo %><%= collection_select(:articulo, :vehiculo_id, Vehiculo.all, :id, :patente, :prompt => 'Seleccione por patente', :selected => @vehiculo_selected,:class => "form-control") %>
        </div>
         <div class="field"> 
          <% f.label :estado %><br>
          <%=  f.hidden_field :estado, :value => true %>
        </div>
        
      </div>
      <%= f.submit @label, :class => "btn btn-default" %>
  </div>
</div>



<% end %>
