<p id="notice"><%= notice %></p>

<p>
  <strong>Rfid:</strong>
  <%= @articulo.rfid %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @articulo.estado %>
</p>

<%= link_to 'Editar', edit_articulo_path(@articulo) %> |
<%= link_to 'Volver', articulos_path %>
