<h1>WSN_RFID</h1>
<p>Seleccione un link de prueba</p>

<%=link_to "Alerta", alertas_path%>
<%=link_to "Articulos", articulos_path%>
<%=link_to "Atributos", atributos_path%>
<%=link_to "Lectores", lectors_path%>
<%=link_to "Lecturas", lecturas_path%>
<%=link_to "Paquetes", paquetes_path%>
<%=link_to "Permisos", permisos_path%>
<%=link_to "Usuarios", usuarios_path%>
