<p id="notice"><%= notice %></p>
<h1>WSN Chile - RFID</h1>
<p>Seleccione un link</p>

<%=link_to "Alerta", alertas_path%>
<%=link_to "Artículos", articulos_path%>
<%=link_to "Lectores", lectors_path%>
<%=link_to "Lecturas", lecturas_path%>
<%=link_to "Permisos", permisos_path%>
<%=link_to "Usuarios", usuarios_path%>
