<h1>Listing lectors</h1>

<table>
  <thead>
    <tr>
      <th>Posicion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectors.each do |lector| %>
      <tr>
        <td><%= lector.posicion %></td>
        <td><%= link_to 'Ver', lector %></td>
        <td><%= link_to 'Editar', edit_lector_path(lector) %></td>
        <td><%= link_to 'Destroy', lector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lector', new_lector_path %>
