<p id="notice"><%= notice %></p>

<p>
	<strong>Nombre:</strong>
	<%= @lector.nombre %>
</p>
<p>
  <strong>Posicion:</strong>
  <%= @lector.posicion %>
</p>

<%= link_to 'Editar', edit_lector_path(@lector), :class => "btn btn-warning" %>
<%= link_to 'Volver', lectors_path, :class => "btn btn-default" %>
