<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Valores dez</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paquetes.each do |paquete| %>
      <tr>
        <td><%= paquete.nombre %></td>
        <td><%= paquete.valores_dez %></td>
        <td><%= paquete.tipo %></td>
        <td><%= link_to 'Ver', paquete %></td>
        <td><%= link_to 'Editar', edit_paquete_path(paquete) %></td>
        <td><%= link_to 'Destroy', paquete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paquete', new_paquete_path %>
