<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @paquete.nombre %>
</p>

<p>
  <strong>Valores dez:</strong>
  <%= @paquete.valores_dez %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @paquete.tipo %>
</p>

<%= link_to 'Editar', edit_paquete_path(@paquete) %> |
<%= link_to 'Volver', paquetes_path %>
