<h1>Tipos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipos.each do |tipo| %>
      <tr>
        <td><%= tipo.valor %></td>
        <td><%= link_to 'Ver', tipo %></td>
        <td><%= link_to 'Editar', edit_tipo_path(tipo) %></td>
        <td><%= link_to 'Eliminar', tipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tipo', new_tipo_path %>
