<%= form_for(@vehiculo) do |f| %>
  <% if @vehiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehiculo.errors.count, "error") %> prohibited this vehiculo from being saved:</h2>

      <ul>
      <% @vehiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patente %><br>
    <%= f.text_field :patente %>
  </div>
  <div class="field">
    <%= f.label :marca %><br>
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br>
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :Año %><br>
    <%= f.number_field(:anho, :in => 1980..2014, :value => 2014) %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :chasis %><br>
    <%= f.text_field :chasis %>
  </div>
  <div class="field">
    <%= f.label "Numero de motor" %><br>
    <%= f.text_field :n_motor %>
  </div>
  <div class="field">
    <%= f.label :kilometraje %><br>
    <%= f.number_field :kilometraje %>
  </div>
  <div class="field">
    <%= f.label :tipo_combustible %><br>
    <%= f.select(:tipo_combustible, options_for_select([93,95,97])) %>
  </div>
  <div class="field">
    <%= f.label "4x4" %><br>
    <%= f.check_box :es_4x4 %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.select(:categoria, options_for_select(["Sedan", "SUV", "HatchBack", "Jeep", "Lujo"])) %>
  </div>
  <div class="field">
    <%= f.label "Numero de puertas" %><br>
    <%= f.number_field :n_puertas %>
  </div>
  <div class="field">
    <%= f.label "A/C" %><br>
    <%= f.check_box :a_c %>
  </div>
  <div class="field">
    <%= f.label :gps %><br>
    <%= f.check_box :gps %>
  </div>
  <div class="field">
    <%= f.label :disponible %><br>
    <%= f.check_box :disponible %>
  </div>
  <div class="field">
    <%= f.label(:costo, "Costo diario") %><br>
    <%= f.number_field :costo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
