<%= form_for(@vehiculo) do |f| %>
  <% if @vehiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehiculo.errors.count, "error") %> prohibited this vehiculo from being saved:</h2>

      <ul>
      <% @vehiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="col-md-6 column">
    <form role="form">
      <div class="form-group">
         <%= f.label :patente %> <%= f.text_field :patente, :class => "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :marca %><%= f.text_field :marca, :class => "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :modelo %> <%= f.text_field :modelo, :class => "form-control", :value => @vehiculo.modelo %>
      </div>
      <div class="form-group">
		<% if @vehiculo.anho %>
			<%= f.label :Año %> <%= f.number_field(:anho, :in => 1980..2014, :value => @vehiculo.anho, :class => "form-control") %>
		<% else %>
			<%= f.label :Año %> <%= f.number_field(:anho, :in => 1980..2014, :value => 2014, :class => "form-control") %>
		<% end %>
      </div>
      <div class="form-group">
         <%= f.label :color %> <%= f.text_field :color, :class => "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :chasis %> <%= f.text_field :chasis, :class => "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label "Numero de motor" %> <%= f.text_field :n_motor, :class => "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :tipo_combustible %> <%= f.text_field :tipo_combustible, :class => "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label "4x4" %> </br><%= f.check_box :es_4x4%>
      </div>
      <div class="form-select">
        <div class="form-group">
          <%= f.label :categoria %><%= f.select(:categoria, options_for_select([@vehiculo.categoria, "Sedan", "SUV", "HatchBack", "Jeep", "Lujo"]),:class => "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Numero de puertas" %><%= f.number_field :n_puertas, :class => "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label "A/C" %> </br><%= f.check_box :a_c %>
      </div>
      <div class="form-group">
         <%= f.label :gps %> </br><%= f.check_box :gps %>
      </div>
      <div class="form-group">
         <%= f.label :disponible %> </br><%= f.check_box :disponible %>
      </div>
      
      <div class="form-group">
         <%= f.label "Costo diario" %><%= f.number_field :costo, :class => "form-control", :value => @vehiculo.costo %>
      </div>
      <%= f.submit @label, :class => "btn btn-default" %>
  </div>
</div>
<% end %>
