<%= form_for(@alerta) do |f| %>
  <% if @alerta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alerta.errors.count, "error") %> prohibited this alerta from being saved:</h2>

      <ul>
      <% @alerta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desconectada %><br>
    <%= f.check_box :desconectada %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
