<table class="table table-striped">
  <h1>Alertas</h1>

  <thead>
    <tr>
      <th>Desconectada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alertas.each do |alerta| %>
      <tr>
        <td><%= alerta.desconectada %></td>
        <td><%= link_to 'Ver', alerta %></td>
        <td><%= link_to 'Editar', edit_alerta_path(alerta) %></td>
        <td><%= link_to 'Destroy', alerta, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la alerta?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alerta', new_alerta_path %>
