<p id="notice"><%= notice %></p>

<h1><%= @usuario.nombre %> <%= @usuario.apellido %></h1>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @usuario.apellido %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @usuario.cargo %>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario), :class=> "btn btn-warning" %>
<%= link_to 'Volver', usuarios_path, :class=> "btn btn-default" %>
