<%= form_for(@lectura) do |f| %>
  <% if @lectura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lectura.errors.count, "error") %> prohibited this lectura from being saved:</h2>

      <ul>
      <% @lectura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="col-md-6 column">
    <form role="form">
      <div class="form-group">
          <div class="form-group">
            <%= f.label :fecha %>
            <div class="input-group date datetimepicker" data-date-format="DD/MM/YYYY">
                <%= f.text_field :fecha, :class => "form-control" %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
          </div>
          <div class="form-group">
             <%= f.label :articulo_id %>
             <%= f.number_field :articulo_id, :class => "form-control", :value => @lectura.articulo_id %>
             <%= select_tag(:marca, options_for_select(Articulo.getRFIDList.prepend("Seleccione...")))%>
          </div>
          <div class="form-group">
             <%= f.label :lector_id %>
             <%= f.number_field :lector_id, :class => "form-control", :value => @lectura.lector_id %>
             <%= select_tag(:marca, options_for_select(Lector.getNombreList.prepend("Seleccione...")))%>
          </div>
      </div>   
      <%= f.submit @label, :class => "btn btn-default" %>
  </div>
</div>
<% end %>
