<%= form_for(@lectura) do |f| %>
  <% if @lectura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lectura.errors.count, "error") %> prohibited this lectura from being saved:</h2>

      <ul>
      <% @lectura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="col-md-6 column">
    <form role="form">
      <div class="form-group">
          <div class="input-group date datetimepicker">
              <%= f.text_field :fecha, :class => "form-control" %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
      </div>   
      <%= f.submit @label, :class => "btn btn-default" %>
  </div>
</div>
<% end %>
