<%= form_for(@lectura) do |f| %>
  <% if @lectura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lectura.errors.count, "error") %> prohibited this lectura from being saved:</h2>

      <ul>
      <% @lectura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="col-md-6 column">
    <form role="form">
      <div class="form-group">
          <div class="form-group">
            <%= f.label :fecha %>
            <div class="input-group date datetimepicker" data-date-format="DD/MM/YYYY hh:mm:ss A">
                <%= f.text_field :fecha, :class => "form-control" %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
          </div>
          <div class="form-select">
            <div class="form-group">
               <%= f.label :articulo_id %>

               <%= collection_select(:lectura, :articulo_id, Articulo.all.sort_by{|r| r[:rfid]}, :id, :rfid, :prompt => 'Seleccione un artículo', :selected => @articulo_selected , :class => "form-control", :value => @lectura.articulo_id) %>
            </div>
            <div class="form-group">
               <%= f.label :lector_id %>
               <%= collection_select(:lectura, :lector_id, Lector.all.sort_by{|r| r[:nombre]}, :id, :posicion, :prompt => 'Seleccione un lector', :selected => @lector_selected , :class => "form-control", :value => @lectura.lector_id) %>
            </div>
          </end>
      </div>   
      <%= f.submit @label, :class => "btn btn-success" %>

      <%= link_to 'Volver', lecturas_path, :class => "btn btn-default" %>
  </div>
</div>
<% end %>
