<table class="table table-striped">
  <p id="notice"><%= notice %></p>

  <thead>
    <tr>
      <th>Fecha</th>
      <th>Articulo leido</th>
      <th>Lector</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecturas.each do |lectura| %>
      <tr>
        <td><%= lectura.fecha %></td>
        <td>
			<% if lectura.articulo %>
				<% if lectura.articulo.persona %>
					<%= link_to lectura.articulo.persona.rut, lectura.articulo.persona %>
				<% elsif lectura.articulo.vehiculo %>
					<%= link_to lectura.articulo.vehiculo.patente, lectura.articulo.vehiculo %>
				<% else %>
					<%= link_to lectura.articulo.rfid, lectura.articulo %>
				<% end %>
			<% end %>
		</td>
        <td><%= link_to lectura.lector.nombre, lectura.lector %></td>
        <!--
        <td><%= link_to 'Ver', lectura %></td>
        <td><%= link_to 'Editar', edit_lectura_path(lectura) %></td>
        -->
        <td><%= link_to 'Eliminar', lectura, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la lectura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Lectura', new_lectura_path, :class => "btn btn-primary" %>
