<h1>Listing lecturas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecturas.each do |lectura| %>
      <tr>
        <td><%= lectura.fecha %></td>
        <td><%= link_to 'Ver', lectura %></td>
        <td><%= link_to 'Editar', edit_lectura_path(lectura) %></td>
        <td><%= link_to 'Destroy', lectura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lectura', new_lectura_path %>
