<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @lectura.fecha %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @lectura.articulo_id %>
</p>

<p>
  <strong>Lector:</strong>
  <%= @lectura.lector_id %>
</p>

<%= link_to 'Editar', edit_lectura_path(@lectura) %> |
<%= link_to 'Volver', lecturas_path %>
